@import url('../../Stetic/Fonts/Fonts.css');
.container{
    display: flex;
}

.input{
    background-color: rgba(128, 0, 128, 0.174);
    border-color: silver;
    border-style: groove;
    border-width: 0.27em;
    border-radius: 0.75em;
    margin-right: 0.20em;
    color: purple;
    font-family: "Bruno Ace", sans-serif;
    
}

.search{
    background-color: black;
    color:silver;
    border-color: gray;
    border-radius: 0.75em;
    font-family: "Bruno Ace", sans-serif;
}   

.search:hover{
    border-color: silver;
    color: white;
    animation-name: heartBeat;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }
  
  @keyframes heartBeat {
    0% {
      transform: scale(1);
    }
    14% {
      transform: scale(1.3);
    }
    28% {
      transform: scale(1);
    }
    42% {
      transform: scale(1.3);
    }
    70% {
      transform: scale(1);
    }
  }
 
  