.container{
    justify-content:flex-start;
    margin-left: 2em;
    margin-right: 2em;
    border-color: aliceblue;
    background-color: black;
    border-radius: 3em;
    size-adjust:initial;
}
.link{
    text-decoration: none;
    color: aliceblue;
}
.image{
    width: 50%;
    height: 50%;
    margin-top: 1px;
}
.name{
    color: rgba(152, 148, 148, 0.733);
}